.vs/config/applicationhost.config
TestResults/
MonaTest/obj/Debug/build.force
MSOZ3Test/DotFiles/endsinab.dot
MSOZ3Test/DotFiles/exfirst.dot
MSOZ3Test/DotFiles/exlast.dot
MSOZ3Test/DotFiles/lengthone.dot
MSOZ3Test/DotFiles/leq.dot
MSOZ3Test/DotFiles/less.dot
MSOZ3Test/DotFiles/nota.dot
MSOZ3Test/DotFiles/sigmastar.dot
MSOZ3Test/DotFiles/singletona.dot
MSOZ3Test/DotFiles/startaorb.dot
MSOZ3Test/DotFiles/startb.dot
MSOZ3Test/DotFiles/true.dot
LTLMSOTest/obj/Debug/build.force
MSOZ3Test/DotFiles/a2b2.dot
MSOZ3Test/DotFiles/aafterb.dot
MSOZ3Test/DotFiles/ab.dot
MSOZ3Test/DotFiles/aba.dot
MSOZ3Test/DotFiles/bstar.dot
MSOZ3Test/DotFiles/containsab.dot
MSOZ3Test/DotFiles/endsina.dot
regexpenum.txt
/Games/bin
/Games/obj
/.vs/AutomataPDL/v14
/AutomataPDL/bin
/AutomataPDL/obj
/GamesTests/bin
/GamesTests/obj
/MonaTest/bin
/MonaTest/obj
/MSOZ3/bin
/MSOZ3/obj
/MSOZ3Test/bin
/MSOZ3Test/obj
/PumpingLemmaTest/bin
/PumpingLemmaTest/obj
/ProblemGeneration/bin
/ProblemGeneration/obj
/ProblemGenerationTest/bin
/WhileProgramTest/obj
/WhileProgramTest/bin
/ProblemGenerationTest/obj
/PumpingLemma/bin
/PumpingLemma/obj
/TestPDL/bin
/TestPDL/obj
/WebServicePDL/bin
/WebServicePDL/obj
/WebServicePDL/Properties
.vs
/UpgradeLog.htm
/WhileProgramTest/obj
/WhileProgramTest/bin/Debug
/AutomataPDL/WhileProgram/DebugTracer.cs
/AutomataPDL/WhileProgram/NativeMethods.cs
/AutomataPDL/AutomataPDL.csproj.user
/WhileProgramTest/bin/Release
/WhileProgramTest/obj/Debug/WhileProgramTest.csproj.CoreCompileInputs.cache
/GradingData/obj/
/Mona/obj
